<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">lineupcreator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Database Update
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playerlist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Playerlist
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lineupcreator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lineup Creator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guesser">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Guess The Player
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transfer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Transfer
            </NavLink>
        </div>
    </nav>
</div>

